<div>
   
     
   <h4>aca view productos</h4> 
<ul>
    {{#each data}}
    <li> {{this.nombre}} : $ {{this.precio}} -  {{this.img}} -  {{this.img}} -  {{this.id}}</li>
    {{/each}}
</ul>
<a href="/">ir a pantalla principal</a>
</div>
